*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2,h3{
    font-size: 16px;
}

.card{
    display: flex;
    flex-direction: column;
}