* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* .content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags {
    width: 100vw;
    height: 300px;
    background: rgb(159,159,159);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.c-white {
    background-color: white;
}
.c-red {
    background: red;
}
.c-green {
    background: green;
}
.c-blue {
    background: blue;
}
.c-yellow {
    background: yellow;
}
.c-black {
    background: black;
}
.flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.bar-vertical {
    width: 40px;
    height: 100%;
}
.bar-horizontal {
    width: 120px;
    height: 40px;
}


#bar-red {
    width: 40px;
    height: 100%;

}

#bar-green {
    width: 40px;
    height: 100%;
        
}

#bar-white {
    width: 40px;
    height: 100%;
        
}

#bar-blue {
    width: 40px;
    height: 100%;
        
}

#bar-red-horizontal {
    width: 120px;
    height: 40px;
}

#bar-yellow-horizontal {
    width: 120px;
    height: 40px;
}

#bar-black-horizontal {
    width: 120px;
    height: 40px;
}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}